
html,body
{
	height: 100%;
}
*
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{font-family: "微软雅黑";}

ul
{
	list-style: none;
}
li
{
	list-style: none;
}
.vmheader
{
	height: 140px;
	margin-bottom: -140px;
	position: relative;
	background: url(imgs/header_bg.jpg) center center;
	
}
.vmheader_top
{
	height: 100px;
}
.top_logo
{
	height: 100px;
	width: 220px;
	float: left;
	background: url(imgs/loginlogo.png) center center no-repeat;
	background-repeat: no-repeat;
}
.top_slogan
{
	display: inline-block;
	color: #FFF;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 10px;
}
.top_right
{
	float: right;
	height: 100px;
	padding-right: 10px;
	padding-left: 10px;
}
.top_right_search
{
	margin-top: 40px;
	display: inline-block;
}
.top_right_search input
{
	border: none;
	height: 30px;
	padding: 5px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	font-size: 14px;
}
.top_right_search input:focus
{
	outline: none;
}
.top_right_search button
{
	height: 30px;
	margin-left: -5px;
	border: none;
	background-color: #EEE;
	color: #555;
	width: 60px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 14px;
}
.top_right_user
{
	display: inline-block;
	padding: 10px;
}
.top_right_user a
{
	color: #FFF;
	font-size: 16px;
	margin: 0px 5px;	
}
.top_right_user a:hover
{	
	color: yellow;
}
.vmheader_nav
{
	margin: 0px 0px;
	height: 40px;
}
.nav_ul li
{
/*	float: left;*/
	display: inline-block;
}
.nav_ul li>a
{
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	display: inline-block;
	color: #FFF;
}
.nav_ul li+li:before
{
	content: "/\00a0";
	color: #FFF;
}
/*******************中间区域************************/
.vmmain-containner
{
	background: url(imgs/bodybg.png);
	height: 100%;
	padding: 140px 0px 140px 0px;
}
.main_row
{
	padding-left: 15px;
	padding-right: 15px;
}

.main_left
{
	padding: 10px 5px 10px 0px;
	background: yellow;
}
.main_right
{
	padding: 10px 0px 10px 5px;
	background: red;
}



/******************************Footer区域*************************/
.vmfooter
{
	background: url(imgs/footer_bg.jpg);
	height: 140px;
	margin-top: -140px;
}
.vmfooter_links
{
	height: 100px;
	text-align: center;
}
.vmfooter_links h4
{
	color: white;
}
.vmfooter_links .hline div
{
	height: 3px;
	border-bottom: 1px solid #000;
}
.vmfooter_links a
{
	margin: 5px;
	color: #99ccff;
	font-size: 12px;
}
.vmfooter_links a:hover
{
	color: #fff;
}
.vmfooter_copyright
{
	height: 40px;
	line-height: 20px;
	text-align: center;
	color: white;
}
